<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        
        <li>
            <a href="/Admin/add"><i class="fa fa-fw fa-wrench"></i> Add Data </a>
        </li>

        <li>
            <a href="/Admin/tables"><i class="fa fa-fw fa-wrench"></i> View Data </a>
        </li>

        <li>
            <a href="#"><i class="fa fa-fw fa-wrench"></i> Update Data </a>
        </li>

        <li>
            <a href="#"><i class="fa fa-fw fa-wrench"></i> Delete Data </a>
        </li>

        <li>
            <a href="/Admin/Logout"><i class="fa fa-fw fa-wrench"></i> Log Out </a>
        </li>
        

        
                   </ul>
</div>