<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<head>
<link rel="stylesheet" href="~/Content/ok1.css">
<script type="text/javascript" src="Scripts/ok.js"></script>    
</head>
<body>
<form action="~/Admin/del" method="post">
<div class="login">
  <div class="login-header">
  </div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="login-form">
			<h3>Model :</h3>
			<input type="text" name="mod" placeholder="Model Name to delete..."/><br>
			<br>
			<br>
			<input type="Submit" value="Delete" class="login-button"/>
			<br>
			<br>
		</div>
</div>
</form>