l<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<head>
<link rel="stylesheet" href="css/ok1.css">
<script type="text/javascript" src="scriptok/ok.js"></script>    
</head>
<body>
<form>
<div class="login">
  <div class="login-header">
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="login-form">
    <h3>Medicine Name:</h3>
    <input type="text" placeholder="Medicine Name"/><br>
    <h3>Description:</h3>
    <br>
	<TEXTAREA NAME="Address" ROWS=5 COLS=50 >
	</TEXTAREA>
    <br>
	<br>
    <input type="Submit" value="Submit" class="login-button"/>
	<br>
	<br>
  </div>
</div>
</form>